<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c457cbbb92.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Document</title>
</head>

<body>
    <!-- Navbar -->
    <header>
        <div class="container theme-1">
            <nav class="nav">
                <a href="index.html" class="logo">Checked It.</a>
                <div class="menu-button">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </nav>
        </div>
        <div class="nav-menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Main Cheez</a></li>
            </ul>
        </div>
    </header>
    
    
    <section class="hero">
        <div class="container mt-3 d-flex flex-column justify-content-center align-items-center">
            <div>
                <h1 class="heading">Have you <br><span>Checked It?</span></h1>
            </div>
            <div>
                <h2>If not</h2>
                <button>CHECK NOW!</button>
                
            </div>
        </div>
    </section>
    <section class="bg p-4"></section>
    
    <section class="about-us">
        <div class="container about d-flex justify-content-evenly align-items-center">
            <div class="container left">
                <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_slipwrv0.json"  background="transparent"  speed="1"  style="width: 600px; height: 300px;"  loop autoplay></lottie-player>
            </div>
            <div class="container right p-3">
                <h2>Checked It X MIT</h2>
                <h4>The best of the best join hands.</h4>
                <p>Our talented diagnostics team at Checked It collaborated with great minds from MIT to bring to you the breakthrough technology in covid detection, the Cov Bot 3000. </p>
                <p>
                    Boasting a result accuraccy of 99.99%, the Cov Bot only needs an X-ray scan of lungs to check for Covid 19. It is fast, reliable and of course, cheap because we at checkedit believe that access to the latest technologies in the medical world should never be seen as a luxury.
                </p>
            </div>
        </div>
    </section>
    
    
    <section>
        <h1>
            WINDOW FOR AI MODEL
        </h1>
    </section>
    
    <footer>
        footer
    </footer>
    
    <script src="../static/css/app.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
    
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>

</html>